<div class="table-responsive">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td>


                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/imagenes/portatil.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Portátil</h5>
                            <p class="card-text">

                                Laptop HP 240 G7 gris 14", Intel Core i3 1005G1 4GB de RAM 1TB HDD, Intel UHD Graphics G1 (Ice Lake 32 EU) 1366x768px Windows 10.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </td>
                <td>


                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/imagenes/pc.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Computadoras de Escritorio</h5>
                            <p class="card-text">Computador Todo En Uno Hp Intel Core i7-1165G7 2.80Ghz Onceava Generación Disco SOLIDO 512gb + Disco HDD 1000GB RAM 16GB All In One Aio Led 21.5.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>


                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/imagenes/impresoras.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Impresoras</h5>
                            <p class="card-text">Epson busca que sus clientes obtengan el máximo provecho de sus productos. Por ello, brinda soluciones de impresión con una amplia gama de dispositivos que cubren todos los usos y necesidades.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </td>
                <td>


                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/imagenes/proyectores.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Proyectores</h5>
                            <p class="card-text">Proyector Byintek K20x: Resolución 1080p nativa 7000 lumenes de brillo Bluetooth Android 9.0 Netflix (preinstalado) Amazon Prime (Preinstalado) Youtube (Preinstalado) Entradas HDMI,AVI. Proyector con garantias</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </td>

            </tr>

        </tbody>
    </table>
</div>